<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SESSION_APPENDER" class="ch.qos.logback.core.FileAppender">
        <file>session.log</file> <!-- will be overridden -->
        <immediateFlush>true</immediateFlush>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="TRANSACTION_APPENDER" class="ch.qos.logback.core.FileAppender">
        <file>txn.log</file> <!-- will be overridden early in run -->
        <immediateFlush>true</immediateFlush>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%n%msg%n%caller{1..4}%n</pattern>
        </encoder>
    </appender>

    <logger name="SESSION_LOGGER" level="info">
        <appender-ref ref="SESSION_APPENDER"/>
    </logger>

    <logger name="TRANSACTION_LOGGER" level="debug">
        <appender-ref ref="TRANSACTION_APPENDER"/>
    </logger>

    <root level="trace">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>