<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!--
    // JSON logging based on a tutorial at:
    // https://tobydevlin.com/blog/structured-logging-in-java-with-slf4j-and-logback
    -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>dummy.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="net.heretical_camelid.maneline.desktop_app.LogbackRollingPolicy"/>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>false</includeMdc>
            <includeContext>false</includeContext>
            <fieldNames>
                <timestamp>[ignore]</timestamp>
                <version>[ignore]</version>
                <logger>[ignore]</logger>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>